/client/target/
/client/.idea
.ingest_client_config.yml
server/__azurite_db_blob__.json
server/__azurite_db_blob_extent__.json
server/__blobstorage__
server/.DS_Store
__azurite_db_table__.json
server/priv/sqlite_extensions/crypto.dylib
server/priv/sqlite_extensions/define.dylib
server/priv/sqlite_extensions/fileio.dylib
server/priv/sqlite_extensions/fuzzy.dylib
server/priv/sqlite_extensions/ipaddr.dylib
server/priv/sqlite_extensions/math.dylib
server/priv/sqlite_extensions/regexp.dylib
server/priv/sqlite_extensions/sqlean.dylib
server/priv/sqlite_extensions/stats.dylib
server/priv/sqlite_extensions/text.dylib
server/priv/sqlite_extensions/time.dylib
server/priv/sqlite_extensions/unicode.dylib
server/priv/sqlite_extensions/uuid.dylib
server/priv/sqlite_extensions/vec0.dylib
server/priv/sqlite_extensions/vsv.dylib
server/apps/ingest/priv/sqlite_extensions/crypto.dylib
server/apps/ingest/priv/sqlite_extensions/define.dylib
server/apps/ingest/priv/sqlite_extensions/fileio.dylib
server/apps/ingest/priv/sqlite_extensions/fuzzy.dylib
server/apps/ingest/priv/sqlite_extensions/ipaddr.dylib
server/apps/ingest/priv/sqlite_extensions/math.dylib
server/apps/ingest/priv/sqlite_extensions/regexp.dylib
server/apps/ingest/priv/sqlite_extensions/sqlean.dylib
server/apps/ingest/priv/sqlite_extensions/stats.dylib
server/apps/ingest/priv/sqlite_extensions/text.dylib
server/apps/ingest/priv/sqlite_extensions/time.dylib
server/apps/ingest/priv/sqlite_extensions/unicode.dylib
server/apps/ingest/priv/sqlite_extensions/uuid.dylib
server/apps/ingest/priv/sqlite_extensions/vec0.dylib
server/apps/ingest/priv/sqlite_extensions/vsv.dylib
server/apps/ingest/databases
server/config/databases
server/.lexical
